@{
    ViewData["Title"] = "Forum Page";
}

<div class="forumMain">
    <div class="body">
       <h1>Explore the Vibrant Forum Community</h1>
       <p>
          Our forum provides a platform for engaging discussions, knowledge-sharing, and problem-solving.
          Get involved with like-minded individuals and tap into a vast pool of expertise.
       </p>
       <p>Take a look at some of the exciting features and screenshots of our forum:</p>
       <div class="animation-container">
            <img src="~/Images/thumb.jpg" alt="thumbGif" class="animated-element">
       </div>
       <div class="screenshot-container">
           <img src="~/Images/Forum.png" alt="Alternate Text" />
       </div>
    </div>        
</div>