
@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
    <div class="title-section">
        <div>
            <h2 class="title">What if</h2>
            <h2 class="title">StackOverflow</h2>
            <h2 class="title">was also a</h2>
            <h2 class="title">chatroom</h2>
            <div class="logo-container">
            <img src="~/Images/logo.ico.png" class="logo" alt="">
            </div>
        </div>
        <div class="image-section">
                <img src="~/Images/ChatOverFlow.png" alt="community">
        </div>
    </div>

    <div class="description-section">
        <div class="empty-column"></div>
        <div class="text-column">
            <h2 class="description">
                Instantly access accurate answers from our vibrant 
                community chatroom and make swift progress on your project today!
            </h2>
        </div>
    </div>

    <div class="showcase-section">
        <div class="image-column">
            <img src="~/Images/ChatForumShowCase.png" class="showcase-image" alt="">
        </div>
    </div>

</div>

