
@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
    <div class="title-section">
        <div>
            <h2 class="title">
                What if
                <br/>
                StackOverflow
                <br/>
                was also a
                <br/>
                chatroom?
            </h2>
            <div class="logo-container">
                  <img src="~/Images/StackOverFlowLogo.png" class="logo" alt="logo">
            </div>
        </div>
        <div class="image-section">
              <img src="~/Images/ChatOverFlow.png" style="height: 350px;" alt="community">
        </div>
    </div>

    <div class="description-section">
        <div class="empty-column"></div>
        <div class="text-column">
            <h2 class="description">
                Instantly access accurate answers from our vibrant 
                community chatroom and make swift progress on your project today!
            </h2>
        </div>
    </div>

    <div class="showcase-section">
        <div class="image-column">
            <img src="~/Images/ChatForumShowCase.png" class="showcase-image" alt="">
        </div>
    </div>

    <h2 class="additional-description">
             Supercharge your problem-solving potential with the
        <br> ultimate fusion of StackOverflow and real-time chat. Say goodbye
        <br> to endless waiting and hello to instant, accurate
        <br> answers from community. Take your projects
        <br> to new heights with swift progress and unparalleled
        <br> collaboration.
    </h2>

    <h2 class="join-us-description">
        Your project deserves the best – Join us now!
    </h2>

    <div class="button-section">
        <button type="button" class="btn btnCustom" style="">Sign Up</button>
    </div>

</div>

