/*Navbar*/

.navClass {
    background-color: #42344B;
    color: white !important;
    padding: 10px;
}

.navClass .nav-link {
    cursor: pointer;
}

/*HOMEPAGE*/
.home-container {
    background-color: #282727;
    min-height: calc(80vh - 140px);
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 20px;
}

.title-section {
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    color: white;
}

.image-section {
    min-width: 40vw;
}

.empty-column {
    flex-basis: 3;
    min-width: 30%;
}

.text-column {
    flex-basis: 7;
    min-width: 70%;
}

.description {
    color: white;
}

.showcase-section {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.image-column {
    flex-basis: 7;
    min-width: 70vw;
}

.showcase-image {
    max-width: 60vw;
}