/*Navbar*/

.navClass {
    background-color: #42344B;
    color: white !important;
    padding: 10px;
}

.navClass .nav-link {
    cursor: pointer;
}

/*HOMEPAGE*/
.home-container {
    background-color: #282727;
    min-height: calc(80vh - 140px);
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title-section {
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; 
}

.title {
    color: white;
}

.logo {
    width: 150px;
}

.image-section {
    min-width: 40vw;
}

.empty-column {
    flex-basis: 3;
    min-width: 30%;
}

.text-column {
    flex-basis: 7;
    min-width: 70%;
    text-align: center;
}

.description {
    color: white;
}

.showcase-section {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.image-column {
    flex-basis: 7;
    min-width: 70vw;
    text-align: center;
}

.showcase-image {
    max-width: 60vw;
}

.additional-description {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.join-us-description {
    color: white;
    text-align: center;
}

.button-section {
    width: 100%;
    display: flex;
    justify-content: center;    
}

.btnCustom {
    color: white;
    margin-bottom: 20px;
    background-color: rgb(0, 123, 255);
}

/*CHATROOM PAGE*/

.main {
    min-height: calc(80vh - 140px);
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-bottom: 60px;
    color: white;
    margin: auto;
    text-align: center;
    background-color: #282727;
}

.animation-container {
    text-align: center;
    margin-top: 30px;
}

.animated-element {
    animation: float 3s ease-in-out infinite;
    height: 150px;
    width: 150px;
}

.feature-list {
    margin: 30px 0;
    list-style: none;
    padding-left: 0;
    display: inline-block;
    text-align: left;
}

.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feature-item::before {
    content: '✓';
    color: #4287f5;
    font-size: 24px;
    margin-right: 10px;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.chat-gif {
    max-width: 100%;
    height: auto;
}

.highlight {
    color: #4287f5;
    font-weight: bold;
}